<h1 class="text-center">All Scores</h1>
<h2 class="text-center">Total Games: {{totalCount}}</h2>
<hr>
<table class="table table-striped table-inverse text-center">
  <thead>
    <tr>
      <th class="text-center">Alan Score</th>
      <th class="text-center">Mike Score</th>
    </tr>
  </thead>
  <tbody>
    {{#each scores}}
    <tr>
      <td>{{alan_score}}</td>
      <td>{{mike_score}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
