* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.add-new {
  height: 80px;
  text-align: center;
  margin-bottom: 50px;
  color: #000;
  display: inline-block;
  float: left;
  border: 1px solid blue;
}

input {
  height: 50px;
  width: 50px;
  font-size: 20px;
}

select, button {
  height: 50px;
  width: 80px;
  font-size: 20px;
  margin-top: 10px;
}

.top-table, .bottom-table {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  background-color: #fdfdfd;
}

th {
  border-bottom: 1px solid blue;
  padding: 20px;
}

td {
  padding: 10px;
  border: 1px solid blue;
}

.bottom-table {
  margin-bottom: 50px;
}
